body {
    border: 1px solid blue;
    margin: 0 auto;
    padding: 0;
    width: 400px;
}

#convert-btn {
    cursor: pointer;
    margin-bottom: 10px;
}

@media (min-width: 800px) {
    body {
        width: 700px;
    }
}